html, body {
    height: 100%;
}

html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    margin: 0;
}

.main-headings{
	height: 100%;
    padding: 50px;
    margin: 0;
    flex-direction: column;
	display: flex;
	align-items: center;
  	justify-content: center
}

h1{
	font-family: 'Lobster';
	color: #C2EFEB;
	font-size: 40px;
}

.button {
  background-color: #41337A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}